<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>servlets.contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking</servlet-name>
        <servlet-class>servlets.booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>servlets.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>servlets.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteservlet</servlet-name>
        <servlet-class>servlets.deleteservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteservlet</servlet-name>
        <url-pattern>/deleteservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
